# KiCad History
.history/
**/.history/

# KiCad Local Settings
*.kicad_prl
fp-info-cache

# Gerber Files
*.gbr
*.gbrjob
*.drl
*.zip

# KiCad lock files
*.lck

# KiCad local/project settings
*.kicad_prl

# KiCad history
.history/